.spaceShip {
    position: absolute;
    right: 50%;
    top: 40%;
    margin-right: -600px;
    transform: scaleX(-10);
    animation: ship-anime 4.5s infinite alternate;
}


.spaceShip2 {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -600px;
    animation: ship-anime2 4s infinite alternate;
    animation-delay: 0.1s;
}


@keyframes ship-anime {
    0% {
        transform: translateY(20px) scaleX(-1);
    }
    100% {
        transform: translateY(-20px) scaleX(-1);
    }
}

@keyframes ship-anime2 {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}